# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\teo\OneDrive\Desktop\proiect-tehnologii-web\proiect-tehnologii\Penoiu_Teodora_Cristina\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
